@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans");
.main {
  height: 100vh;
  display: flex; }
  .main .navbar {
    background: red;
    width: 100%; }
    .main .navbar .nav1 {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .main .navbar .nav1 .list1 {
        margin-top: 30px; }
        .main .navbar .nav1 .list1 li {
          list-style-type: none;
          padding: 5px 0; }
      .main .navbar .nav1 .list2 {
        margin-bottom: 30px; }
        .main .navbar .nav1 .list2 li {
          list-style-type: none;
          padding: 5px 0; }
          .main .navbar .nav1 .list2 li a {
            text-decoration: none;
            color: black; }
  .main .gameboard {
    height: 100vh;
    width: 80%; }
    .main .gameboard .select {
      text-align: center; }

h3 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 20px; }

.boards {
  width: 100%; }

.board1 {
  height: 100px;
  width: 100px;
  border: 1px solid black; }
